* {
  box-sizing: border-box;
}

body {
  background: #eee;
  margin: 20px 0;
}

article {
  width: 21cm;
  min-height: 29.7cm;
  background: white;
  margin: 0 auto;
  overflow: auto;
  padding: 1em;
}
p {
  margin: 0.3em 0;
}

h1 {
  font-size: 25px;
}

h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: normal;
  color: #f60;
}

a {
  color: #f60;
  text-decoration: none;
  border-bottom: 1px solid;
}

p,
li {
  color: #666;
}

strong {
  font-weight: normal;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

.bio {
  position: relative;
}

.bio img {
  position: absolute;
  top: 10px;
  right: 60px;
}

#skills {
  width: 500px;
  height: 270px;
}

.skills > .wrapper {
  display: flex;
  justify-content: space-between;
}

.skills > .wrapper > :first-child {
  margin-right: 24px;
}

.skills > .wrapper > ul {
  color: #666;
}

.skills > .wrapper strong {
  color: #f60;
}

.skills > .wrapper > ul > li {
  line-height: 1.5;
  margin-bottom: 8px;
}

.projects > ul > li {
  margin-bottom: 20px;
}

.projects header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.projects ul li a:hover {
  color: #f60;
  transition: all 0.3s;
}
.jobs > ol > li {
  margin: 12px 0;
}


